/* Full page dark background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* Container */
.container {
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

/*  title */
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 1px;
}

/* Status text */
.status {
  text-align: center;
  margin-top: 50px;
}

.status.error {
  color: red;
}

/* Grid container*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card styling */
.card {
  border: 2px solid #555;
  padding: 15px;
  text-align: center;
  background-color: #000;
}

/* Image styling */
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 1px solid #444;
}

/* Product title */
.card h3 {
  font-size: 14px;
  margin: 10px 0 5px;
  color: #ddd;
}

/* Price */
.card p {
  font-size: 13px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
